@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Roboto:wght@300;400&display=swap');

body {
    background-color: gray;
    margin: auto;
    font-family: Nunito, sans-serif;
    color: white;
    max-width: 1400px;
}

h1, h2, h3 {
    font-family: Roboto, sans-serif;
}

article {
    color: black;
}

a, h2 {
    color: white;
}

.row1 img, .row2 img {
    width: 50vh;
    height: 50vh;
}

header img {
    width: 5%;
    height: 5%;
    padding-top: 1em;
}

article {
    display: flex;
    flex-direction: column;
    background-color: gainsboro;
    margin: 1em 2em;
    padding: 1em;
    align-items: center;
}

h1 a {
    text-decoration: none;
    background-color: gray;
    padding: 0em 1em;
}

h2 a {
    border-bottom: 2px solid white;
    text-decoration: none;
}

header {
    background-image: url("../images/others/lab-equipment.jpg");
    background-size: 600px;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0em;
    padding: 1em;
    text-align: center;
    width: 100%;
}

h2 {
    background-color: rgb(38, 97, 156);
    margin: 0em;
    padding: 0.5em;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

#introduction {
    flex-direction: row;
}

figcaption {
    text-align: center;
}

#introduction section {
    width: 100%;
}

figure img {
    /* object-fit: contain; */
    width: 100%;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    padding-left: 0;
    margin: 0.4em 0;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
}

nav li {
    /* background-color: white; */
    border-bottom: 2px solid white;
    width: 100%;
    text-align: center;
    /* margin-bottom: 0.25rem; */
    /* padding: 0.25rem; */
}

footer, header nav {
    background-color: rgb(38, 97, 156);
    width: 100%;
}

footer li, header li {
    box-sizing: border-box;
    width: 50%;
}

section {
    margin-bottom: 2em;
}