@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;500&family=Roboto:wght@300;400&display=swap');

body {
    background-color: gray;
    margin: auto;
    font-family: Nunito, sans-serif;
    color: white;
    max-width: 1400px;
}

h1, h2, h3 {
    font-family: Roboto, sans-serif;
}

article {
    color: black;
}

a, h2 {
    color: white;
}

header img {
    width: 8%;
    height: 8%;
    padding-top: 1em;
}

h1 a {
    text-decoration: none;
    background-color: rgb(22, 22, 22);
    padding: 0.2em 1em;
}

h2 a {
    border-bottom: 2px solid white;
    text-decoration: none;
}

header {
    background-image: url("../images/others/header-background.jpeg");
    background-size: 600px;
    background-position: bottom;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 0em;
    padding: 1em;
    text-align: center;
    width: 100%;
}

h2 {
    background-color: rgb(38, 97, 156);
    margin: 0em;
    padding: 0.5em;
    text-align: center;
    width: 100%;
    box-sizing: border-box;
}

ul {
    padding-left: 0;
}

nav ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    align-items: center;
    margin: 0.4em 0;
}

nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: 1.5em;
}

nav li {
    border-bottom: 2px solid white;
    width: 100%;
    text-align: center;
    margin-bottom: 0.25rem;
}

footer, header nav {
    background-color: rgb(38, 97, 156);
    width: 100%;
}

footer li, header li {
    box-sizing: border-box;
    width: 50%;
}

section {
    margin-bottom: 2em;
}

.article-title {
    text-align: center;
    background-color: rgba(22, 22, 22, 0.541);
    /* width: 40%; */
    padding: 0.5em 0;
}

.flags {
    width: 30vh;
    height: 30vh;
    border: 3px dashed rgba(22, 22, 22, 0.541);
}

.quick-facts {
    margin: 1em;
    /* padding: 1em; */
}

.quick-facts p {
    margin: 1em;
}

article {
    background-color: gainsboro;
    padding: 1em;
}

aside {
    background-color: rgba(22, 22, 22, 0.541);
    border: 5px solid rgba(0, 0, 0, 0.603);
    padding: 1em;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 0;
}

aside h3 {
    background-color: rgba(0, 0, 0, 0.603);
    padding: 0.5em;
    width: 100%;
    box-sizing: border-box;
    text-align: center;
}

.character-portrait {
    width: 70%;
}

.character-info {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.character-info ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
}

.info-list {
    width: 30%;
    border-right: 2px solid rgba(0, 0, 0, 0.603);;

}

.info-data {
    width: 70%;
}

.character-info ul li {
    border-top: 2px solid rgba(0, 0, 0, 0.603);
    /* border-bottom: 2px solid rgba(0, 0, 0, 0.603); */
    /* margin-bottom: 1px; */
    padding: 0.2em;
}

.character-info ul li:nth-of-type(4) {
    border-bottom: 2px solid rgba(0, 0, 0, 0.603);
}


@media screen and (min-width: 1200px) {
    
}